/* ==========================================================================
   Global styles
   ========================================================================== */
* {
  box-sizing: border-box;
}

body {
  background: @cl-tertiary-left;
  color: @cl-text;
  font-family: @ff-merriweather;
}

h1, h2, h3, h4, h5 {
  font-family: @ff-lato;
}

a, a:visited {
  font-family: @ff-lato;
  color: @cl-link;
  text-decoration: none;
  &:hover {
    color: @cl-link-hover;
    text-decoration: underline;
  }
}

b {
  font-family: @ff-lato;
  color: darken(@cl-secondary-left, 30%);
}

.main--hat__inner,
.main__inner {
  margin: 0 auto;
  .clearfix;
}

.button {
  background: @cl-secondary-left;
  color: @cl-main;
  padding: 10px;
}


.main--shoe {
  min-height: 40px;
  background: @cl-secondary-left;
}

.main--shoe__inner {
  padding: 10px;
  a {
    display: block;
    text-align: center;
  }
}