/* ==========================================================================
   Hero Styles
   ========================================================================== */

.hero {
  position: relative;
  overflow: hidden;
  background: @cl-main;
  padding: 20px 20px 20px;
  .clearfix;
}

.hero__title {
  position: absolute;
  top: -999px;
  left: -999px;
  opacity: 0;
  z-index: 0;
  a, a:visited {
    text-decoration: none;
    border-bottom: 1px dotted;
  }
  &.is-active {
    position: relative;
    top: auto;
    left: auto;
    z-index: 2;
    opacity: 1;
    -webkit-transition: opacity 0.125s ease-in;
    -moz-transition: opacity 0.125s ease-in;
    -o-transition: opacity 0.125s ease-in;
    transition: opacity 0.125s ease-in;
  }
}

.hero__button {
    position: relative;
    z-index: 3;
    float: right;
}

/* ==========================================================================
   About Styles
   ========================================================================== */

.hero--about__name {

}
.hero--about__job {
  
}
.hero--about__employer {
  
}

/* ==========================================================================
   Project Styles
   ========================================================================== */

.hero__title--project {
  font-family: @ff-merriweather;
  text-align: left;
  font-size: 24px;
  line-height: 1.15;
  margin: 15% 0 0 -20px;
  padding: 20px 20px 20px 40px;
  position: absolute !important;
  white-space: pre-line;
  background: fade(@cl-main, 90%);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.hero__img-mask {
  position: relative;
  width: 80%;
  min-height: 250px;
  margin: 0 auto -20px;
  overflow: hidden;
  // opacity: 0.25;
}

.hero__img--project {
  position: absolute;
  z-index: 1;
  width: 100%;
  // border: 20px solid darken(@cl-tertiary-left, 10%);
}

.hero--about__job {
  
}
.hero--about__employer {
  
}