/* ==========================================================================
   Hero Styles
   ========================================================================== */

.hero {
  background: @cl-main;
  padding: 20px 20px;
  .clearfix;
}

.hero__title {
  position: absolute;
  top: -999px;
  left: -999px;
  opacity: 0;
  z-index: 0;
  a, a:visited {
    text-decoration: none;
    border-bottom: 1px dotted;
  }
  &.is-active {
    position: static;
    z-index: 2;
    opacity: 1;
    -webkit-transition: opacity 0.125s ease-in;
    -moz-transition: opacity 0.125s ease-in;
    -o-transition: opacity 0.125s ease-in;
    transition: opacity 0.125s ease-in;
  }
}


.hero__button {
    position: relative;
    z-index: 3;
    float: right;
}