/* ==========================================================================
   Projects Styles
   ========================================================================== */

.project {
  padding: 20px 20px;
}

/* ==========================================================================
   List Styles
   ========================================================================== */

.project--list__title {
  margin-bottom: 0;
}

.project__img {
  width: 90%;
  max-width: 440px;
  display: block;
  border: 10px solid white;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}

/* ==========================================================================
   About Styles
   ========================================================================== */

.project--about {
  
}
.project--about__title {
  border-bottom: 2px solid @cl-secondary-right;
}
.project--about__skills {
  list-style: none;
  .clearfix;
  > li {
    float: left;
    padding-right: 20px;
    &:before {
      padding-right: 5px;
      content: "✔";
      color: green;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}
.project--about__bio {}

/* ==========================================================================
   Single Item Styles
   ========================================================================== */
.project--view {}

.project--view__codepen {
  width: 100%;
  max-width: 440px;
  height: 300px;
  display: block;
  margin: 0 auto;
}